[Unit]
Description=Seamless Expo Dev Server
After=network.target

[Service]
Type=simple

ExecStart=/home/ben-anderson/repos/cockpit/scripts/start-expo.sh

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=seamless-expo

[Install]
WantedBy=default.target
